#startButton {
    -fx-border-color: #8787ec;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
}

#ScoreField, #HealthField{
    -fx-font-weight: bold;
    -fx-fill: white
}
